<!DOCTYPE html>
<html lang="en">

<%- include('./components/head.ejs')  %>

<body>
   <%- include('./components/navbar.ejs')  %>
    <div class="container mt-3">
        <h3 class="text-decoration-underline">About Page</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur ad, quas inventore autem rem ab commodi magni recusandae asperiores facere tempora voluptatem velit, reiciendis consectetur et dolorem itaque quod doloremque?</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur ad, quas inventore autem rem ab commodi magni recusandae asperiores facere tempora voluptatem velit, reiciendis consectetur et dolorem itaque quod doloremque?</p>
    </div>
</body>

</html>